body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
h1
{
    text-align: center;
}

h1
{
    background-color: rgba(68, 68, 68); 
    color: white;
}
body
{
    background-color: gray; 
}